html, body{
    margin: 0;
    background-color: #fafafd;
}
header{
    width: 100%;
    height: 50px;
    background-color: rgb(64, 62, 74);
    top: 0;
    position: fixed;
}
.top-menu{
    float: left;
    width: min-content;
    height: 100%;
    display: inline-flex;
    margin: 0;
}
.top-menu > li{
    color: #d4d8ec;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-decoration: none;
    margin-right: 30px;
}
a.topmenu_item:active,
a.topmenu_item:hover,
a.topmenu_item{
    text-decoration: none;
    color: #d4d8ec;
    font-size: 20pt;
}
a.topmenu_item > p{
    margin: auto 0 auto 0;
}
.page-content{
    margin: 70px 10% 0 10%;
}
.extension-content{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    pointer-events: none;
}
form[name=lang_form]{
    float: right;
    height: 100%;
}
.lang-switcher{
    height: 100%;
    margin-right: 10px;
}
.lang-btn{
    float: left;
    height: 100%;
    display: none;
}
.lang-btn[active]{
    display: block;
}
.lang-switcher:hover > .lang-btn{
    display: block;
}
.lang-btn > img{
    height: 100%;
    object-fit: contain;
    filter: saturate(0.1);
    margin-left: 3px;
}
.lang-btn > img:hover{
    filter: saturate(0.9);
    cursor: pointer;
}