{% extends "base/base.html" %}
{% load i18n %}
{% load l10n %}

{% load static %}
{% load component_tags %}

{% block title %}
    {{ profile.user.first_name }} {{ profile.user.last_name }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'home/index.css' %}" />
    {% component_css_dependencies %}
{% endblock %}

{% block js %}
    {{ block.super }}

    <script>

        $(document).ready(function(){

            current_image_set = [];
            current_image_index = -1;

            ImagePopupHide();

            function ImagePopupShow(img_set, img_index){

                $('.detail_feed_image').children('img').attr('src', img_set.at(img_index)['url']);
                current_image_index = img_set.at(img_index)['index'];

                $('.popup-page').show();
            }

            function ImagePopupHide(){
                $('.popup-page').hide();
            }

            $('.popup-page').on('click', function(){
                ImagePopupHide();
            });
            $('.popup-image-detail').on('click', function(e){
                e.stopPropagation();
            });

            $('.popup-img-sliders > div').on('click', function(){
                if ($(this).attr("id") == 'next'){
                    ImagePopupShow(current_image_set, current_image_index + 1 - current_image_set.length);
                } else {
                    ImagePopupShow(current_image_set, current_image_index - 1);
                }
            });


            $('.feed-image-container').on('click', function(){

                let image_id = $(this).find('img').attr('id');
                let image_set = [];

                $(this).parent().parent().find('img').each(
                    function(ind){
                        image_set.push({
                            'url': this.src,
                            'index': ind
                        });
                    }
                );

                current_image_set = image_set
                current_image_index = image_id

                ImagePopupShow(image_set, image_id);
            });
        });

    </script>
{% endblock %}

{% block content %}
    <div class="about-me">
        <div class="abstract">
            <h3>Welcome to my personal website!</h3>
            <p>I am a young scientist, analyst and developer. I am constantly studying 
            and participating in various activities. Now I'm looking for a new job for myself.</p>
            <p>Here you can find out who I am and what I do, see my portfolio, make an 
            interesting offer of cooperation. The site is still developing, and you can 
            contribute to it in the project repository.</p>
            
            {% component "stackoverflow_user_widget" user_id="21331354" %}
            {% component "github_user_widget" user_login="VladislavDev" %}

        </div>
        <div class="personal">
            <div class="photo">
                <img src="{{ profile.photo.url }}" />
            </div>
            <p class="profile-name">{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
            <div class="location">
                <img src="media/icons/location.png" />
                {{ profile.location }}
            </div>
            <div class="contacts">
                {% for contact in profile.user.contacts.all %}
                    <a class="contact-url" href="{{ contact.link_url }}"  target="_blank">
                        <div class="contact">
                            <p>
                                <img src="media/{{ contact.contact_icon }}" />
                                {{ contact.contact }}
                            </p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {% for feed in feeds %}
        <div class="feed">
            <div class="publication">
                <div class="publication-photo">
                    <img src="{{ feed.author.photo.url }}" alt='author photo' />
                </div>
                <div class="publication-info">
                    <p class="publication-author">{{ feed.author.user.first_name }} {{ feed.author.user.last_name }}</p>
                    <p class="publication-date">{{ feed.pub_date }}</p>
                </div>
            </div>
            <p class="feed-text">{{ feed.text }}</p>
            <div class="feed-images">
                {% for row in feed.image_rows %}
                    <div class="feed-image-row">
                        {% for image in row.images %}
                            {% localize off %}
                                <div class="feed-image-container" style="flex-grow: {{ image.grow }};">
                                    <img src="{{ image.url }}" id="{{ image.index }}" />
                                </div>
                            {% endlocalize %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% empty %}
        <div class="news_feed_stub">
            <p>Nothing here</p>
        </div>
    {% endfor %}

    {% block extension_content %}
        <div class="popup-page" id="popup_images">
            <div class="popup-image-detail">
                <div class="detail_feed_image">
                    <img src="/" />
                    <div class="popup-img-sliders">
                        <div id="previous"><p><</p></div>
                        <div id="next"><p>></p></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}