{% load static %}
{% load i18n %}

<!doctype html>
<html>
    <head>
        <title>{% block title %}Vladislav Sokolov site{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'base/favicon.ico' %}"/>

        {% block css %}
            <link rel="stylesheet" href="{% static 'base/base.css' %}" />
        {% endblock %}

        {% block js %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
            <script>
                function setLang(lang_code){
                    $('input.current-lang').val(lang_code);
                    document.lang_form.submit();
                }
            </script>
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                <ul class="top-menu">
                    <li><a class="topmenu_item" href="{% url 'index' %}">
                        <p>{% translate 'Home' %}</p>
                    </a></li>
                    <li><a class="topmenu_item" href="{% url 'projects' %}">
                        <p>{% translate 'Projects' %}</p>
                    </a></li>
                </ul>

                <form name='lang_form' action="{% url 'set_language' %}" method="post">{% csrf_token %}

                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}

                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <input class='current-lang' name="language" type="hidden" value="{{ LANGUAGE_CODE }}">
                    <div class="lang-switcher">
                        {% for language in languages %}
                            <div class="lang-btn" onclick="setLang('{{ language.code }}');">
                                {% if LANGUAGE_CODE != language.code %}
                                    <img src='media/langs/{{ language.code }}.png' />
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="lang-btn" active>
                            <img src='media/langs/{{ LANGUAGE_CODE }}.png' />
                        </div>
                    </div>
                </form>
            {% endblock %}
        </header>
        <div class="page-content">
            {% block content %}
                Nothing here
            {% endblock %}
        </div>
        <div class="extension-content">
            {% block extension_content %}{% endblock %}
        </div>
    </body>
</html>