{% load static %}

<!doctype html>
<html>
    <head>
        <title>{% block title %}Vladislav Sokolov site{% endblock %}</title>

        {% block css %}
            <link rel="stylesheet" href="{% static 'base/base.css' %}" />
        {% endblock %}

        {% block js %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                <ul class="top-menu">
                    <li><a class="topmenu_item" href="{% url 'index' %}">
                        <p>Home</p>
                    </a></li>
                    <li><a class="topmenu_item" href="{% url 'projects' %}">
                        <p>Projects</p>
                    </a></li>
                </ul>
            {% endblock %}
        </header>
        <div class="page-content">
            {% block content %}
                Nothing here
            {% endblock %}
        </div>
        <div class="extension-content">
            {% block extension_content %}{% endblock %}
        </div>
    </body>
</html>